<h3>Please sign up to use all features</h3>
<form [formGroup]="myForm" (ngSubmit)="onSignup()">
    <div class="row">
      <div class="col-xs-4">
        <div class="form-group">
          <label for="email">E-Mail</label>
          <input  class="form-control" formControlName="email" type="email" id="email" #email>
          <span *ngIf="!email.pristine && email.errors != null && email.errors['noEmail']">Invalid mail address</span>
          <!--<span *ngIf="email.errors['isTaken']">This username has already been taken</span>-->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" formControlName="password" type="password" id="password">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="form-group">
          <label for="confirm-password">Confirm Password</label>
          <input class="form-control" formControlName="confirmPassword" type="password" id="confirm-password" #confirmPassword>
          <span *ngIf="!confirmPassword.pristine && confirmPassword.errors != null && confirmPassword.errors['passwordsNotMatch']">Passwords do not match</span>
        </div>
      </div>
    </div>
    <button type="submit"  class="btn btn-success" [disabled]="!myForm.valid" >Sign Up</button>
</form>
