<div class="row">
        <div class="col-xs-12">
          <img src="{{selectedRecipeSnapshot?.imagePath}}" alt="" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h1>{{selectedRecipeSnapshot?.name}}</h1>
          
        </div>
        <div class="col-xs-12">
          <button class="btn btn-success" (click)="onAddToShoppingList()">To Shopping List</button>
          <button class="btn btn-primary" (click)="onEdit()">Edit</button>
          <button class="btn btn-danger"  (click)="onDelete()">Delete</button>
          <button class="btn btn-primary" (click)="onAddToUserList()">To My</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <p>{{selectedRecipeSnapshot?.description}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of sselectedRecipeSnapshot?.ingredients">{{item.name}},({{item.amount}})
          </ul>
        </div>
      </div>